# Integer, float, complex

In [1]:
a = 5
b = 3.1
c = 3.0
d = 1+2j
f = 3.1232e3
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(f))
h = 0b10101111
print(type(h))
print(a)
print(b)
print(c)
print(d)
print(f)
print(h)

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'int'>
5
3.1
3.0
(1+2j)
3123.2
175

# Boolean

In [3]:
print(5 > 3)
print(5 != 3)
print(5 < 3)

True
True
False

# String

In [5]:
## this is a string
a = 'hello'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print('=======')
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

h
e
l
l
o
=======
o
l
l
e
h

In [6]:
#slicing 切割
a = 'beautiful'
print(a[3:7]) #後面那個自己不包含
print(a[:3])  #從頭開始
print(a[3:])  #到最後一個
print(a[3:7:2])  #一次跳兩個
print(a[:])  #全部
print(a)

utif
bea
utiful
ui
beautiful
beautiful

In [7]:
a = 'hello'
print( a * 2)

hellohello

In [8]:
b = 'issac'
print(a+' '+b)

hello issac

In [9]:
print(len(a))

5

In [20]:
empty_string = ''
my_string = 'Hello, I am Aaron !'
print(my_string.lower())
print(my_string.upper())
print(my_string.replace(' ','@'))
print(my_string.split(' '))

hello, i am aaron !
HELLO, I AM AARON !
Hello,@I@am@Aaron@!
['Hello,', 'I', 'am', 'Aaron', '!']

In [23]:
my_string = 'Hello, I am Aaron! \n'
print(my_string)
print(my_string.strip())

Hello, I am Aaron!

Hello, I am Aaron!

# List

In [27]:
## this is a list
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a[0])
print(a[1])
print(a[-1])

apple
10.4
(1-3j)

In [40]:
empty_list = [] # empty_list = list()
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
print(a + b)

['apple', 10.4, (1-3j), 1, 3, -2, 8, 9, -10]

In [56]:
a = ['apple', 10.4, 1-3j]
b = [1, 3, -2, 8, 9, -10]
b.append(20)
print(b)
b.remove(3)
print(b)
b.pop()
print(b)
b.insert(1, 100)
print(b)
b.reverse()
print(b)
b.sort()  #由小到大排
print(b)

a.append(b)
print(a)
a.extend(b)
print(a)
a.pop()
print(a)
a.pop()
a

[1, 3, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10, 20]
[1, -2, 8, 9, -10]
[1, 100, -2, 8, 9, -10]
[-10, 9, 8, -2, 100, 1]
[-10, -2, 1, 8, 9, 100]
['apple', 10.4, (1-3j), [-10, -2, 1, 8, 9, 100]]
['apple', 10.4, (1-3j), [-10, -2, 1, 8, 9, 100], -10, -2, 1, 8, 9, 100]
['apple', 10.4, (1-3j), [-10, -2, 1, 8, 9, 100], -10, -2, 1, 8, 9]

['apple', 10.4, (1-3j), [-10, -2, 1, 8, 9, 100], -10, -2, 1, 8]

# Tuple
(不允許修改)

In [57]:
# this is a tuple
a = ('1', '2', '3')
print(a[0])
print(a[-1])
print(len(a))

1
3
3

In [58]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3= tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [59]:
my_list = [1,2,3]
my_tuple = (1,2,3)

my_list[1] = 100
print(my_list)

my_tuple[1] = 100
print(my_tuple)  #不能改

[1, 100, 3]

TypeError: 'tuple' object does not support item assignment

# Set
無序，不允許重複
{}

In [60]:
fruits = {"apple", "banana*2", "banana","banana","banana","banana","banana","banana", "cherry"}
print(fruits)

{'banana', 'cherry', 'apple', 'banana*2'}

In [61]:
fruits.add("orange")
print(fruits)

{'banana*2', 'banana', 'cherry', 'orange', 'apple'}

In [62]:
fruits = {"apple", "banana", "cherry"}

fruits.update(['orange', 'mango', 'grapes'])

print(fruits)

{'banana', 'cherry', 'orange', 'apple', 'grapes', 'mango'}

In [63]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

#無序的，pop誰不一定

print(x)

print(fruits)

banana
{'cherry', 'apple'}

In [64]:
a = {1, 2, 3, 4}
b = {1, 3, 5, 7, 9}
print(a & b)
print(a | b)

{1, 3}
{1, 2, 3, 4, 5, 7, 9}

In [65]:
my_list = [1,1,2,3,4,5,6,6,6]
print(set(my_list))
unique_list = list(set(my_list))
print(unique_list)

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

# Dictionary
key不能重複

In [67]:
a = {'Isaac':100, 'Isaac':90}
print(a)

{'Isaac': 90}

In [70]:
a = {'Isaac':100, 'Judy':60, 'Andy':80}
print(a)
print(len(a))
print(a['Isaac'])
print(a['Judy'])

{'Isaac': 100, 'Judy': 60, 'Andy': 80}
3
100
60

In [71]:
a['amy'] = 10
print(a)

{'Isaac': 100, 'Judy': 60, 'Andy': 80, 'amy': 10}

In [72]:
a['amy'] = 20
print(a)

{'Isaac': 100, 'Judy': 60, 'Andy': 80, 'amy': 20}

In [73]:
a['amy'] = a['amy'] + 10
print(a)

{'Isaac': 100, 'Judy': 60, 'Andy': 80, 'amy': 30}

In [74]:
print(a.values())

dict_values([100, 60, 80, 30])

In [75]:
print(a.keys())

dict_keys(['Isaac', 'Judy', 'Andy', 'amy'])

In [76]:
a.pop("Isaac")
print(a)

{'Judy': 60, 'Andy': 80, 'amy': 30}

In [77]:
a.pop("Aaron")
print(a)

KeyError: 'Aaron'

# Casting

In [81]:
my_string = '1000'
print(type(my_string))
my_float = float(my_string)
print(type(my_float))
my_list = list(my_string)
print(type(my_list))

print(my_string)
print(my_float)
print(my_list)

<class 'str'>
<class 'float'>
<class 'list'>
1000
1000.0
['1', '0', '0', '0']

In [82]:
my_list = [1, 2, 3, 5]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 5)

# 練習一

# Lucky number
# input a integer number, detect if the number is considered lucky. If the number is lucky, print "lucky number". If not, print "regular number"
# Definition of lucky number: the sum of the first three digits equals the sum of the last three digits in a number.

In [90]:
b = input()

s1 = int(b[0]) + int(b[1]) + int(b[2])
print(s1)
s2 = int(b[-1]) + int(b[-2]) + int(b[-3])
print(s2)
## write your code here


if s1 == s2:
    print('lucky number!')
else:
    print('regular number!')

123456456
6
15
regular number!

In [94]:
b = int(input())
#如果確定是六位數的話才是這樣做
s1 = b%10 + b%100 //10 + b%1000 //100
print(s1)
s2 = (b%10000)//1000 + (b%100000)//10000 + b//100000
print(s2)
## write your code here

if s1 == s2:
    print('lucky number!')
else:
    print('regular number!')

123321
6
6
lucky number!

# 練習2

# Heron's Formula - area of a triangle
## input 3 integer to represent triangle side length. Calculate the area of the triangle.

In [96]:
a = int(input())   #用int也可以
b = float(input())
c = float(input())
s = (a + b + c) / 2
A = (s * (s-a) * (s-b) * (s-c) ) ** 0.5
print(A)

3
4
5
6.0

# Use list slicing to get specify character of a given word. my_list = ['A','p','p','l','e']

In [97]:
my_list = ['A','p','p','l','e']

# get elements 3rd to 5th

In [98]:
# elements 3rd to 5th
## write your code here
print(my_list[2:5])

['p', 'l', 'e']

# elements beginning to 4th (including 4th)

In [99]:
# elements beginning to 4th
## write your code here
print(my_list[:4])

['A', 'p', 'p', 'l']

# elements 2th to end (including 2th)

In [100]:
# elements 2th to end
## write your code here
print(my_list[1:])

['p', 'p', 'l', 'e']

# print all elements

In [105]:
print(my_list[:])

['A', 'p', 'p', 'l', 'e']

# Use del to Delete elements from a list. my_list = ['p','r','o','b','l','e','m']

In [121]:
my_list = ['p','r','o','b','l','e','m']

In [130]:
# delete 3th item
## write your code here
my_list = ['p','r','o','b','l','e','m']
del my_list[2]
#my_list.remove('o')
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [131]:
# delete multiple items from 2th to 4th(including 4th)
## write your code here
my_list = ['p','r','o','b','l','e','m']
#my_list = my_list[0] + my_list[-1]
#print(list(my_list))
del my_list[1:4]
print(my_list)

['p', 'l', 'e', 'm']

# Write a Python program to add a key to a dictionary

In [135]:
d = {0:10, 1:20}
print(d)
## write your code here
#d[2] = 30
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

# 練習三

# Write a Python program to convert a list of characters into a string.

In [199]:
s = ['a', 'b', 'c', 'd']
## write your code here
print(s[0]+s[1]+s[2]+s[3])
str1 = ''.join(s)
print(str1)

abcd
abcd

# Write a Python program to calculate the length of a string.

In [138]:
my_string = 'isaac'
## write your code here
print(len(my_string))

5

# Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string.  (assume number of characters of this string is more than two)

Sample String : 'w3resource'  
Expected Result : 'w3ce'  
Sample String : 'w3'  
Expected Result : 'w3w3'

In [200]:
my_string = input()

## write your code here
print(my_string[0:2] + my_string[-2:])

isaac
isac

# Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.

In [203]:
my_string = input()

first = my_string[0]
my_string = my_string.replace(first,'$')

print(first + my_string[1:])

aabbccaaabc
a$bbcc$$$bc

# Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2).

In [204]:
my_string = input()

## write your code here
a = my_string[-2:]
a*4

#不打print 兩邊就會多''這個符號

aaron

'onononon'