# while loop

In [2]:
answer = 3
guess = 0

while guess != answer:
    guess = int(input('pleas make guess during 1~6.: '))
    if guess > answer:
        print('bigger than answer')
    elif guess < answer:
        print('smaller than answer')
    else: 
        print('bingo')

pleas make guess during 1~6.: 2
smaller than answer
pleas make guess during 1~6.: 5
bigger than answer
pleas make guess during 1~6.: 3
bingo

In [2]:
answer = 3
guess = 0

while True:
    guess = int(input('pleas make guess during 1~6.: '))
    if guess > answer:
        print('bigger than answer')
    elif guess < answer:
        print('smaller than answer')
    else: 
        print('bingo')
        break

pleas make guess during 1~6.: 1
smaller than answer
pleas make guess during 1~6.: 6
bigger than answer
pleas make guess during 1~6.: 4
bigger than answer
pleas make guess during 1~6.: 3
bingo

In [5]:
i = 1
while i < 6:
    print(i)
    i += 1 # i = i + 1

1
2
3
4
5

In [11]:
i = 0 
num_sum = 0
while i <= 100:
    num_sum = num_sum + i 
    print('num_sum: {}, i: {}'.format(num_sum, i))
    i = i + 1
print('0+1+2+.....+100 = {}'.format(num_sum))

num_sum: 0, i: 0
num_sum: 1, i: 1
num_sum: 3, i: 2
num_sum: 6, i: 3
num_sum: 10, i: 4
num_sum: 15, i: 5
num_sum: 21, i: 6
num_sum: 28, i: 7
num_sum: 36, i: 8
num_sum: 45, i: 9
num_sum: 55, i: 10
num_sum: 66, i: 11
num_sum: 78, i: 12
num_sum: 91, i: 13
num_sum: 105, i: 14
num_sum: 120, i: 15
num_sum: 136, i: 16
num_sum: 153, i: 17
num_sum: 171, i: 18
num_sum: 190, i: 19
num_sum: 210, i: 20
num_sum: 231, i: 21
num_sum: 253, i: 22
num_sum: 276, i: 23
num_sum: 300, i: 24
num_sum: 325, i: 25
num_sum: 351, i: 26
num_sum: 378, i: 27
num_sum: 406, i: 28
num_sum: 435, i: 29
num_sum: 465, i: 30
num_sum: 496, i: 31
num_sum: 528, i: 32
num_sum: 561, i: 33
num_sum: 595, i: 34
num_sum: 630, i: 35
num_sum: 666, i: 36
num_sum: 703, i: 37
num_sum: 741, i: 38
num_sum: 780, i: 39
num_sum: 820, i: 40
num_sum: 861, i: 41
num_sum: 903, i: 42
num_sum: 946, i: 43
num_sum: 990, i: 44
num_sum: 1035, i: 45
num_sum: 1081, i: 46
num_sum: 1128, i: 47
num_sum: 1176, i: 48
num_sum: 1225, i: 49
num_sum: 1275, i: 50
num_sum: 1326, i: 51
num_sum: 1378, i: 52
num_sum: 1431, i: 53
num_sum: 1485, i: 54
num_sum: 1540, i: 55
num_sum: 1596, i: 56
num_sum: 1653, i: 57
num_sum: 1711, i: 58
num_sum: 1770, i: 59
num_sum: 1830, i: 60
num_sum: 1891, i: 61
num_sum: 1953, i: 62
num_sum: 2016, i: 63
num_sum: 2080, i: 64
num_sum: 2145, i: 65
num_sum: 2211, i: 66
num_sum: 2278, i: 67
num_sum: 2346, i: 68
num_sum: 2415, i: 69
num_sum: 2485, i: 70
num_sum: 2556, i: 71
num_sum: 2628, i: 72
num_sum: 2701, i: 73
num_sum: 2775, i: 74
num_sum: 2850, i: 75
num_sum: 2926, i: 76
num_sum: 3003, i: 77
num_sum: 3081, i: 78
num_sum: 3160, i: 79
num_sum: 3240, i: 80
num_sum: 3321, i: 81
num_sum: 3403, i: 82
num_sum: 3486, i: 83
num_sum: 3570, i: 84
num_sum: 3655, i: 85
num_sum: 3741, i: 86
num_sum: 3828, i: 87
num_sum: 3916, i: 88
num_sum: 4005, i: 89
num_sum: 4095, i: 90
num_sum: 4186, i: 91
num_sum: 4278, i: 92
num_sum: 4371, i: 93
num_sum: 4465, i: 94
num_sum: 4560, i: 95
num_sum: 4656, i: 96
num_sum: 4753, i: 97
num_sum: 4851, i: 98
num_sum: 4950, i: 99
num_sum: 5050, i: 100
0+1+2+.....+100 = 5050

In [12]:
i = 0
num_sum = 0
while i <= 100:
    if i % 2 == 1:
        i = i+1
        continue
    num_sum = num_sum + i
    print('num_sum: {}, i: {}'.format(num_sum, i))
    i = i +1
    
print('0+2+4+6....+100 = {}'.format(num_sum))

num_sum: 0, i: 0
num_sum: 2, i: 2
num_sum: 6, i: 4
num_sum: 12, i: 6
num_sum: 20, i: 8
num_sum: 30, i: 10
num_sum: 42, i: 12
num_sum: 56, i: 14
num_sum: 72, i: 16
num_sum: 90, i: 18
num_sum: 110, i: 20
num_sum: 132, i: 22
num_sum: 156, i: 24
num_sum: 182, i: 26
num_sum: 210, i: 28
num_sum: 240, i: 30
num_sum: 272, i: 32
num_sum: 306, i: 34
num_sum: 342, i: 36
num_sum: 380, i: 38
num_sum: 420, i: 40
num_sum: 462, i: 42
num_sum: 506, i: 44
num_sum: 552, i: 46
num_sum: 600, i: 48
num_sum: 650, i: 50
num_sum: 702, i: 52
num_sum: 756, i: 54
num_sum: 812, i: 56
num_sum: 870, i: 58
num_sum: 930, i: 60
num_sum: 992, i: 62
num_sum: 1056, i: 64
num_sum: 1122, i: 66
num_sum: 1190, i: 68
num_sum: 1260, i: 70
num_sum: 1332, i: 72
num_sum: 1406, i: 74
num_sum: 1482, i: 76
num_sum: 1560, i: 78
num_sum: 1640, i: 80
num_sum: 1722, i: 82
num_sum: 1806, i: 84
num_sum: 1892, i: 86
num_sum: 1980, i: 88
num_sum: 2070, i: 90
num_sum: 2162, i: 92
num_sum: 2256, i: 94
num_sum: 2352, i: 96
num_sum: 2450, i: 98
num_sum: 2550, i: 100
0+2+4+6....+100 = 2550

In [13]:
i = 0
num_sum = 0
while True:
    if i > 100:
        break
    num_sum = num_sum + i
    i = i + 1
print('0+1+2+....+100= {}'.format(num_sum))

0+1+2+....+100= 5050

# for loop

In [27]:
for c in 'Python':
    print(f'{c}')
    print(c)
print(c)

P
P
y
y
t
t
h
h
o
o
n
n
n

In [29]:
fruits = ['watermelon', 'guava', 'strawberry']
for f in fruits:
    print(f"fruits: {f}")

fruits: watermelon
fruits: guava
fruits: strawberry

In [30]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [32]:
for i in range(5,10):
    print(i, end=' ')

5 6 7 8 9

In [33]:
for i in range(1,10,2):
    print(i, end=' ')

1 3 5 7 9

In [35]:
my_list = [10, -20, 15]
for i in my_list:
    print(i, end=' ')

10 -20 15

In [36]:
my_list = [10, -20, 15]
for i in range(len(my_list)):
    print(i)
    print(my_list[i])

0
10
1
-20
2
15

In [38]:
my_list = [10, -20, 15]
for index,i in enumerate(my_list):
    print(index,i)

0 10
1 -20
2 15

In [39]:
my_list = [10, -20, 15]
for i in enumerate(my_list):
    print(i)

(0, 10)
(1, -20)
(2, 15)

In [41]:
my_tuple = (10, -20, 15)
for i in my_tuple:
    print(i, end= ' ')

10 -20 15

In [44]:
my_string = 'test123'
for i in my_string:
    print(i,end=' ')

t e s t 1 2 3

In [45]:
my_dict = {'isaac':50, 'andy':80, 'judy':20}
for i in my_dict:
    print(i)

isaac
andy
judy

In [47]:
my_dict = {'isaac':50, 'andy':80, 'judy':20}
for i in my_dict.values():
    print(i)

50
80
20

# nested loop

In [54]:
n = 5
for i in range(n):
    for j in range(n):
        print('i: {}, j: {}'.format(i,j))

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
i: 0, j: 3
i: 0, j: 4
i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
i: 1, j: 3
i: 1, j: 4
i: 2, j: 0
i: 2, j: 1
i: 2, j: 2
i: 2, j: 3
i: 2, j: 4
i: 3, j: 0
i: 3, j: 1
i: 3, j: 2
i: 3, j: 3
i: 3, j: 4
i: 4, j: 0
i: 4, j: 1
i: 4, j: 2
i: 4, j: 3
i: 4, j: 4

In [55]:
n = 5
for i in range(n):
    for j in range(n):
        #print('i: {}, j: {}'.format(i,j))
        print('*', end='')
    print('')

*****
*****
*****
*****
*****

In [56]:
n = 5
for i in range(n):
    for j in range(i):
        print('i: {}, j: {}'.format(i,j))

i: 1, j: 0
i: 2, j: 0
i: 2, j: 1
i: 3, j: 0
i: 3, j: 1
i: 3, j: 2
i: 4, j: 0
i: 4, j: 1
i: 4, j: 2
i: 4, j: 3

In [59]:
n = 5
for i in range(n):
    for j in range(i):
        #print('i: {}, j: {}'.format(i,j))
        print('* ', end='')
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end='')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [60]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [61]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# 練習1

# input a integer, use for loop to print pyramid in star symbol(*).

In [275]:
level = int(input())

## write your code here 
for i in range(1,level+1):
    print(' ' * (level-i) + '*' * (i*2-1))

#老師解答
for i in range(level):
    print(' ' * (level-i-1) + '*' * (i*2+1))

5
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********

# input a integer, calculate factorial of the number.

In [92]:
number = int(input())
result = 1
## write your code here
for i in range(1, number+1):
    result = result * i
    print('result={} , i={}'.format(result, i))
print('result is {}'.format(result))

6
result=1 , i=1
result=2 , i=2
result=6 , i=3
result=24 , i=4
result=120 , i=5
result=720 , i=6
result is 720

# Write a Python program to count the number of even and odd numbers from a series of numbers.

In [98]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,11,13,15] 
count_odd = 0
count_even = 0

## write your code here
for i in numbers:
    if i%2==0:
        count_even += 1
    if i%2!=0:
        count_odd += 1

print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 8

In [97]:
#老師解答
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9,11,13,15] 
count_odd = 0
count_even = 0
for x in numbers:
    if x % 2 == 0:
        count_even+=1
    else:
        count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 8

# Write a Python program that prints all the numbers from 0 to 6 except 2 and 6.

In [88]:
for i in range(7):
    if i==2 or i==6:
        continue
    print(i, end=' ')

0 1 3 4 5

In [96]:
#老師解答
for x in range(6):
    if (x == 2 or x==6):
        continue
    print(x,end=' ')
print("\n")

0 1 3 4 5

# 練習2

# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [111]:
for i in range(1500,2701):
    if i == 2695:
        print(i)
    elif i%7==0 and i%5==0:
        print(i, end=',')

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [143]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print(','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [144]:
my_string = ''
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        my_string = my_string + str(x) + ','
print(my_string[:-1])

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

# Write a Python program that accepts a word from the user and reverse it.

In [127]:
word = input("Input a word to reverse: ")

for i in range(len(word)-1,-1,-1):
    print(word[i], end='')

Input a word to reverse: isaac
caasi

In [150]:
word = input('Input a word to reverse: ')
word_list = list(word)
word_list.reverse()
print(word_list)
result = ''.join(word_list)
print(result)

Input a word to reverse: aaron
['n', 'o', 'r', 'a', 'a']
noraa

# write 9*9 multiplication table

In [164]:
for i in range(1,10):
    for j in range(1,10):
        #print('%d*%d=%-3d' %(i,j, i*j), end='')
        print('{}*{}={:<2d} '.format(i,j,i*j), end='')
        #print('{}*{}={} '.format(i,j,i*j), end='')
    print('')

1*1=1  1*2=2  1*3=3  1*4=4  1*5=5  1*6=6  1*7=7  1*8=8  1*9=9
2*1=2  2*2=4  2*3=6  2*4=8  2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3  3*2=6  3*3=9  3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4  4*2=8  4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5  5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6  6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7  7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8  8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9  9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

# 練習3

# Use "nested for loop" to print right triangle

In [167]:
for i in range(1,10):
    for j in range(i):
        print('a',end='')
    print()

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa

In [176]:
for i in range(1, 10):
    for j in range(1, 10):
        if j <= i :
            print('a', end='')
    print()

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa

# Write a Python program to sum all the items in a list

In [170]:
my_list = [-100, 20, 9, -7]

## write your code here
sum_numbers=0
for i in range(len(my_list)):
    sum_numbers += int(my_list[i])

print('sum: {}'.format(sum_numbers))

sum: -78

In [180]:
#老師解
items = [-100, 20, 9, -7]
sum_numbers = 0
for x in items:
    #print(x, end=' ')
    sum_numbers += x

print('sum: {}'.format(sum_numbers))

sum: -78

# Write a Python program to get the largest number from a list

In [173]:
my_list = [-100, 20, 9, -7]

## write your code here
max_number = 0
for i in range(len(my_list)):
    if int(my_list[i]) > max_number:
        max_number = my_list[i]

print('max number is {}'.format(max_number))

max number is 20

In [182]:
#老師解
my_list = [-100, 20, 900, -7]
max_number = my_list[0]

for i in my_list:
    if i > max_number:
        max_number = i
        
print('max_number is {}'.format(max_number))

max_number is 900

In [183]:
print(max(my_list))

900

# Write a Python program to remove duplicates from a list.

In [184]:
my_list = [10,20,30,20,10,50,60,40,80,50,40]

## write your code here
my_set = set(my_list)
#print(my_set)
result = list(my_set)
result.sort()
print(result)

[10, 20, 30, 40, 50, 60, 80]

In [190]:
#另解
my_list = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in my_list:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)
        
print(list(dup_items))
print(uniq_items)

[40, 10, 80, 50, 20, 60, 30]
[10, 20, 30, 50, 60, 40, 80]

# 練習4

# input a number greater than 1, detect if this number is prime number or not
## if it is prime number, print "this is a prime number"
## if it is not prime number ,print "this is not a prime number"

In [225]:
num = 13
  
## write your code here
is_prime = 1

#Iterate from 2 to n/2
for i in range(2,num):
#for i in range(2, num//2)
    #print(i)
    #If num is divisible by any number between
    # 2 and n/2 , it is not prime
    if num % i ==0:
        is_prime=0
        break
if (is_prime == 0):
    print(num, 'is not a prime number')
else:
    print(num, 'is a prime number')

13 is a prime number

In [226]:
12//5

2

# Given a test string, please switch this string to lower and  calculate frequency of each character

In [228]:
test_str = 'hello, I am isaac. Nice to meet you'

## write your code here
str_lower = test_str.lower()
#print(str_lower)

all_freq = {}

for i in str_lower:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] =1
        
print(all_freq)

{'h': 1, 'e': 4, 'l': 2, 'o': 3, ',': 1, ' ': 7, 'i': 3, 'a': 3, 'm': 2, 's': 1, 'c': 2, '.': 1, 'n': 1, 't': 2, 'y': 1, 'u': 1}

# Find the longest word in the list

In [230]:
my_list = ['isaac', 'judy', 'christina', 'ann']

## write your code here
max_long_word=''

for i in range(len(my_list)):
    if len(my_list[i]) >= len(max_long_word):
        max_long_word = my_list[i]

print('the longest word is the list is: {}'.format(max_long_word))

the longest word is the list is: christina

In [234]:
#老師解
my_list = ['isaac', 'judy', 'christina', 'ann']
max_long_word = my_list[0]

for i in my_list:
    #print(i)
    if len(max_long_word) < len(i):
        max_long_word = i
        
print('the longest word is the list is: {}'.format(max_long_word))

the longest word is the list is: christina

# 練習5

# Given two vector, calculate distance between them

In [251]:
vector1 = [1, 2, 1]
vector2 = [3, 4, 2]

## write your code here
diff_sum = 0

for i in range(len(vector1)):
    diff_sum += (vector1[i] - vector2[i]) ** 2
    
distance = diff_sum ** 0.5
print('distance is: {}'.format(distance))

distance is: 3.0

# Ask the user for a string and print out whether this string is a palindrome or not. (A palindrome is a string that reads the same forwards and backwards.)

In [249]:
word = input('give me a word:\n')

## write your code here

backwards = list(word)
backwards.reverse()
backwards = ''.join(backwards)
print(backwards)

if backwards == word:
    print('This is a Palindrome')
else:
    print('This is NOT a Palindrome')

give me a word:
123321
123321
This is a Palindrome

In [253]:
word = input('give me a word:\n')
reverse_word = ''
for i in range(len(word)):
    reverse_word += word[len(word)-1-i]

if reverse_word == word:
    print('This is a Palindrome')
else:
    print('This is NOT a Palindrome')

give me a word:
aabbaa
This is a Palindrome

# 補充練習

# 請輸入一個正整數N，並計算1/1+1/2+... ... + 1/N

In [257]:
number = int(input())

result = 0
for i in range(1,number+1):
    result = result + 1/i
    print('result: {}, i: {}, 1/i: {}'.format(result, i, 1/i))

print('result is',result)

5
result: 1.0, i: 1, 1/i: 1.0
result: 1.5, i: 2, 1/i: 0.5
result: 1.8333333333333333, i: 3, 1/i: 0.3333333333333333
result: 2.083333333333333, i: 4, 1/i: 0.25
result: 2.283333333333333, i: 5, 1/i: 0.2
result is 2.283333333333333

# 請輸入一個正整數N，如果N是偶數，則計算N* (N-2)* ....* 2，如果N是奇數，則計算N* (N-2)* ....* 1

In [259]:
# N = 10 => 10*8*...*2
# N = 9 => 9*7*...*1

number = int(input())
result = 1
while number > 0:
    result = result * number
    number = number - 2
    print('result: {}, number: {}'.format(result, number))
print(result)

7
result: 7, number: 5
result: 35, number: 3
result: 105, number: 1
result: 105, number: -1
105

# 請計算以下的list，有多少個數字能同時被5且被2整除

In [262]:
test_list = [12, 13, 100, 120, 76, 88 , 9]

count = 0

for i in test_list:
    if i%5==0 and i%2==0:
        count += 1
print(count)

2

# 輸入一個字串，請先反轉字串，然後再把偶數個字元取出變成一個新的字串

In [264]:
# isaacabc123 => 321cbacaasi => 2caas
# helloworld => dlrowolleh => loolh

word = input("Input a word: ")

word_lst = list(word)
word_lst.reverse()
reverse_word = ''.join(word_lst)
print(reverse_word)
tmp=[]
for index, i in enumerate(reverse_word):
    if index % 2 == 1:
        tmp.append(i)
        print(i)

result = ''.join(tmp)
print(result)

Input a word: isaacabc123
321cbacaasi
2
c
a
a
s
2caas

# 請輸入兩個正整數，請去找出這兩個正整數的最大公因數

In [267]:
# 12 ,15  => 3
# 10 ,12  => 2
# 12 ,24 => 12

num1 = int(input())
num2 = int(input())

max_num = 1
for i in range(1, min(num1, num2)+1):
    if num1%i == 0 and num2%i == 0:
        max_num = i
print(max_num)

12
15
3